services:
  mongodb:
    image: mongo:latest
    ports:
      - "27017:27017"
    env_file:
      - ./.env
    volumes:
      - mongo_data:/data/db

  mongo-express:
    image: mongo-express:latest
    container_name: mongo-express
    ports:
      - "8081:8081"
    env_file:
      - ./.env
    depends_on:
      - mongodb

volumes:
  mongo_data:
